*{
	margin: 0;
	padding: 0;
}
.contenedor{
	display: flex;
	flex-direction: column;
	/* background-color: #e0f5ff; */
	height: 100vh; /* viewport heigth */
}
.encabezado{
	background: #efc5ff;
	color: #d059ff;
	font-family: "Limelight", sans-serif;
	text-align: center;
	padding: 25px;
	font-size: 20px;
}
.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1; /* flex: 1; --> Ocupa el espacio restante */
	/* background: #ffffff; */
}
.texto{
	padding: 15px;
	margin: 15px;
	border: 1px solid #b545ff;
	flex: 1;
	box-shadow: 10px 10px rgba(228, 139, 255, 0.7);
	border-radius: 7px;
	color: #d059ff;
}
footer{
	text-align: center;
	color: #a83dff;
	background: #d6a5ff;
	padding: 10px;
}
@media(max-width:500px){
	.contenido{
		flex-direction: column;
		/* background: #e9f8ff; */
	}

}

